<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dataset Details - {{ dataset.name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}" />

</head>
<body>
  <header>
    <h1>Dataset Details - {{ dataset.name }}</h1>
    <a href="{{ url_for('home') }}" class="button-link view-btn back-btn">← Back to Dataset List</a>
  </header>


  <section id="details-section">
    <h2>Metadata</h2>
    <p><strong>Full Hash:</strong> {{ dataset.hash }}</p>
    <p><strong>Original Local Path:</strong> {{ dataset.local_path }}</p>
    <p><strong>Registry Path:</strong> {{ dataset.registry_path }}</p>
    <p><strong>Created At:</strong> {{ dataset.created_at.strftime("%b %d, %Y %I:%M %p") }}</p>

    <!-- <h3>Edit Metadata</h3>
    <form action="{{ url_for('edit', file_hash=dataset.hash) }}" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="{{ dataset.name }}" required />

      <label for="source">Source URL:</label>
      <input type="text" name="source" id="source" value="{{ dataset.source or '' }}" />

      <button type="submit">Update</button>
    </form> -->
  </section>

  <section id="lineage-link">
    <h3>Lineage</h3>
    <a href="{{ url_for('lineage', file_hash=dataset.hash) }}">View Lineage</a>
  </section>

</body>
</html>
